<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="Expires" content="Mon, 06 Jan 1990 00:00:01 GMT">
    <!--# 위의 명시된 날짜 이후가 되면 페이지가 캐싱되지 않습니다.
    (따라서 위와 같은 날짜로 지정할 경우 페이지는 지속적으로 캐싱되지 않습니다.)-->
    <meta http-equiv="Expires" content="-1">
    <!--# 캐시된 페이지가 만료되어 삭제되는 시간을 정의합니다. 특별한 경우가 아니면 -1로 설정합니다.-->
    <meta http-equiv="Pragma" content="no-cache">
    <!--# 페이지 로드시마다 페이지를 캐싱하지 않습니다. (HTTP 1.0)-->
    <meta http-equiv="Cache-Control" content="no-cache">
    <!--# 페이지 로드시마다 페이지를 캐싱하지 않습니다. (HTTP 1.1)
    출처: https://coding-restaurant.tistory.com/339 [코딩맛집:티스토리]-->

	<title>이동입력</title>
	<link rel="stylesheet" href="css/setup.css?v=20230414">
	<link rel="stylesheet" href="css/style.css?v=20230414">
	<link rel="stylesheet" href="css/date_picker.css?v=20230414">
	<link rel="stylesheet" href="css/util.css?v=20230517">
	<style>
		/*
		[v-cloak] .v-cloak--hidden{
		  display: none;
		}
		*/
		[v-cloak]{
		  display: none;
		}
	</style>
</head>

<body>
	<div v-cloak id="app" class="main data">
		<div class="top">
			<div class="img" onclick="location.replace('main.html');">
				<img src="img/btn_back.png">
			</div>
			<span>이동입력처리</span>
		</div>
		<div class="data-container">
			<div class="data-row">
				<div class="title-row">
					<span>출고창고</span><span class="scan" @click="runScanner('queryForm.OutWHName');">스캔</span>
				</div>
				<div class="search-wrap">
					<input type="text" name="OutWHName" v-model="queryForm.OutWHName" gx-scanner="Y" gx-init="addForm" gx-default="">
					<button class="btn-style-03" name="OutWHName" @click="openCodeHelp();">조회</button>
				</div>
			</div>
			<div class="data-row">
				<div class="title-row">
					<span>입고창고</span><span class="scan" @click="runScanner('queryForm.InWHName');">스캔</span>
				</div>
				<div class="search-wrap">
					<input type="text" name="InWHName" v-model="queryForm.InWHName" gx-scanner="Y" gx-init="addForm" gx-default="">
					<button class="btn-style-03" name="InWHName" @click="openCodeHelp();">조회</button>
				</div>
			</div>
			<div class="data-row">
				<div class="title-row">
					<span>품번Barcode</span><span class="scan" @click="runScanner('queryForm.ItemNo');">스캔</span>
				</div>
				<div class="search-wrap">
					<input type="text" name="ItemNo" v-model="queryForm.ItemNo" gx-scanner="Y" gx-init="addForm" gx-default="">
					<button class="btn-style-03" name="ItemNo" @click="openCodeHelp();">조회</button>
				</div>
			</div>
			<div class="data-con">
				<div class="num">
					<div class="title-row">
						<span>수량</span>
					</div>
					<input type="text" name="Qty" v-model="queryForm.Qty" gx-scanner="Y" gx-init="addForm" gx-default="">
					<span class="unit">EA</span>
				</div>
				<div class="date">
					<div class="title-row">
						<span>이동일자</span>
					</div>
					<div class="search-wrap">
						<input type="text" name="Date" v-model.trim="queryForm.Date" value="" validate="required:이동 희망일를 입력해주세요!"
							gx-datepicker="queryForm.Date" gx-default="">
						<button class="btn-style-07" @click="add2();">적용</button>
					</div>
				</div>
			</div>
		</div>
		<div class="table-container">
			<div class="btn-row">
				<button class="btn-style-04" @click="del3();">선택삭제</button>
				<button class="btn-style-06" @click="init();">초기화</button>
			</div>
			<div class="data-row">
				<div class="table tb-h-01" >
					<table>
						<thead>
							<tr>
								<td><input type="checkbox" name="allCk" @click="allCheck();" ></td>
								<td class="num text-c">번호</td>
								<td>품명</td>
								<td>품번</td>
								<td class="text-r">수량</td>
								<td>단위</td>
								<td>출고창고</td>
								<td>입고창고</td>
								<td>Lot No.</td>
							</tr>
						</thead>
						<tbody v-for="(row, index) in rows.Query">
							<tr :class="[row.isActive]">
								<td class="text-c">
									<input type="checkbox" name="ReqSerl" @click="checkSel(index);"/>
								</td>
								<td class="text-c">{{row.SerialNo}}</td>
								<td>{{row.ItemName}}</td>
								<td>{{row.ItemNo}}</td>
								<td class="text-r">{{row.Qty}}</td>
								<td class="text-c">{{row.UnitSeq}}</td>
								<td>{{row.OutWHName}}</td>
								<td>{{row.InWHName}}</td>
								<td>{{row.LotNo}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				
			</div>
		</div>
		<div class="btn-row">
			<button class="btn-style-05" @click="save2();">등록하기</button>
		</div>

		<div class="bg-wrap" id="info-container" gx-layer="">
			<div class="container">
				<button class="btn-close" @click="closeInfo();"></button>
				<p class="title">바코드 스캔 권한 설정 정보</p>
				<div class="scan-right-raw">
		
					<div class="btn-row">
						<button class="btn-jeju" @click="copyUnsafelyUrl();">카메라 허용 설정 주소 복사</button>
						<button class="btn-jeju" @click="copyLocationOrigin();">현재 사이트 주소 복사</button>
					</div>
				</div>
			</div>
		</div>
		
		<div class="bg-wrap" id="scanner-container" gx-layer="">
			<div id="qr-reader"></div>
			<button class="bg-btn-close" @click="stopScanner();">
				<img src="img/btn_close.png" alt="">
			</button>
		</div>

		<div class="bg-wrap" code-help="DVReqNo" gx-layer="">
			<div class="code-help-con">
				<div class="top">
					<span>DVReqNo</span>
				</div>
		
				<div class="data-container">
					<div class="data-row">
						<div class="title-row">
							<span>창고</span>
						</div>
						<div class="search-wrap">
							<input type="text" name="Storage" v-model="codeHelp.Storage" @click="focusCodeHelp('Storage');"
								@change="focusCodeHelp('Storage');">
							<button class="btn-style-03" @click="searchCodeHelp('Storage');"> 조회</button>
						</div>
					</div>
				</div>
				<div class="table-container">
					<div class="pagination-row">
						<div class="pagination">
							<a href="javascript:void(0);" class="btn-prev" @click="pagingCodeHelp('Storage','prev');"></a>
							<div class="mum-box">
								<input class="current" type="text" name="PageCount" value="1"
									@change="searchCodeHelp('Storage');">
							</div>
							<a href="javascript:void(0);" class="btn-next" @click="pagingCodeHelp('Storage','next');"></a>
						</div>
						<div class="combo">
							<select name="PageSize" @change="searchCodeHelp('Storage');">
								<option value="50">50 each</option>
								<option value="100">100 each</option>
								<option value="150">150 each</option>
								<option value="200">200 each</option>
								<option value="250">250 each</option>
								<option value="300">300 each</option>
								<option value="350">350 each</option>
								<option value="400">400 each</option>
								<option value="450">450 each</option>
								<option value="500">500 each</option>
							</select>
						</div>
					</div>
		
					<div class="data-row">
						<div id="grid-Storage" class="table">
						</div>
					</div>
		
					<div class="btn-row">
						<button class="left" @click="closeCodeHelp('Storage');">Close</button>
						<button class="right" @click="okCodeHelp('DVReqNo');">OK</button>
					</div>
				</div>
			</div>
		</div>

	</div>

</body>
<script>
//토글
// $(function(){
// 	$(".toggle-switch").click(function(){
// 		$(this).toggleClass("active");
// 	});
// });
</script>
<script src="js/app.js?v=1652769578524" defer=""></script>
</html>